body {
  margin: 0;
  font-family: arial;
  background: url(images/nmu_team.jpeg) no-repeat center center fixed;
  background-size: cover;
}

nav {
  margin: 0;
  background-color: black;
  color: white;
  padding: 0.3em 1em;
  position: relative;
}

section {
  display: inline-block;
}

h3 {
  margin: 0;
}

.links {
  position: absolute;
  right: 1em;
}

a {
  font-size: 0.7em;
  text-decoration: none;
  color: inherit;
}
